<a href="https://colab.research.google.com/github/JakeOh/202110_itw_lab_python/blob/main/py06_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List(리스트)

list: 여러 개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.

* element(원소, 요소): 리스트에 저장되는 각각의 값.
* index(인덱스): 리스트에 원소들이 저장된 위치(번호).
    * 리스트의 인덱스는 **0**부터 시작.
    * 리스트에서 마지막 원소의 인덱스는 **(원소의 개수 - 1)**
* 리스트는 원소들을 추가/삭제/변경할 수 있음.
    * tuple과 다른 점!

In [40]:
# 숫자들을 저장하는 리스트
numbers = [1, 20, 3, 40, 7]

In [41]:
print(numbers)

[1, 20, 3, 40, 7]

In [42]:
numbers

[1, 20, 3, 40, 7]

ipynb의 코드 셀에서 가장 마지막 줄의 문장이 식(expression: 변수, 값, 함수 호출 등)이면 식을 평가한 결과를 자동으로 출력해줌.

In [43]:
type(numbers)

list

# Indexing

인덱스를 사용해서 리스트의 원소를 사용하는 방법.

In [44]:
numbers

[1, 20, 3, 40, 7]

In [45]:
numbers[0]  # list의 첫번째 원소

1

In [46]:
numbers[4] # list의 마지막 원소

7

In [47]:
numbers[-1]

7

In [48]:
numbers[-2] # list에서 끝에서 두번째 원소

40

In [49]:
# numbers[5]  #> IndexError

# Slicing

In [50]:
numbers[1:4]

[20, 3, 40]

```
list[start:end]
```

* start <= index < end 범위의 인덱스 위치의 원소들을 선택.
* start가 생략되면 리스트의 첫번째 원소부터 선택. (0 <= index < end 범위의 원소들을 선택.)
* end가 생략되면 리스트이 마지막 원소까지 선택. (start <= index 범위의 모든 원소들을 선택.)
* slicing의 결과는 새로운 list.

In [51]:
numbers[:3]  # 리스트에서 첫번째 원소부터 순서대로 3개를 선택

[1, 20, 3]

In [52]:
numbers[2:] # 리스트에서 끝에서 3개의 원소를 선택

[3, 40, 7]

In [53]:
numbers[-3:]

[3, 40, 7]

In [54]:
numbers[0]  #> indexing의 결과: 값(int)

1

In [55]:
numbers[0:1]  #> slicing의 결과: 원소가 1개인 list

[1]

# 문자열(str)

문자들의 리스트

* 문자열 객체도 리스트 객체처럼 indexing과 slicing을 사용할 수 있다.

In [56]:
message = 'Hello, Python!'  # 14개의 문자들을 원소로 갖는 문자열

In [57]:
message[0]  # 문자열에서 첫번째 문자

'H'

In [58]:
message[13]  # 문자열에서 가장 마지막 문자

'!'

In [59]:
message[-1]

'!'

In [60]:
message[:3]  # 문자열에서 첫 3글자

'Hel'

In [61]:
message[-3:]  # 문자열에서 마지막 3글자

'on!'

# list의 산술 연산

* `+`: concatenate. 두 개의 리스트를 하나의 리스트로 합침.
* `*`: replicate. 리스트의 원소드를 곱해주는 숫자만큼 복사해서 원소의 개수를 늘림.

In [62]:
'Hello' + 'Python'

'HelloPython'

In [63]:
[1, 2, 3] + [10, 20, 30]

[1, 2, 3, 10, 20, 30]

In [64]:
'Hello' * 3

'HelloHelloHello'

In [65]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# list의 기능들(메서드)

## element 추가

In [66]:
numbers

[1, 20, 3, 40, 7]

`list.append(arg)`

리스트의 가장 마지막에 새로운 원소(arg)를 추가

In [67]:
numbers.append(100)

In [68]:
numbers

[1, 20, 3, 40, 7, 100]

`list.insert(index, value)`

list의 index 위치에 value를 추가(삽입)

In [69]:
numbers.insert(1, 100)

In [70]:
numbers

[1, 100, 20, 3, 40, 7, 100]

`list.extend(iterable)`

리스트 이어 붙이기(concatenate). `+` 연산과 동일한 기능.

In [71]:
numbers.extend([2, 4, 6])  # numbers + [2, 4, 6]

In [72]:
numbers

[1, 100, 20, 3, 40, 7, 100, 2, 4, 6]

In [73]:
# 주의!!!
numbers.append([1, 3, 5])  #> 리스트의 가장 마지막에 다른 리스트가 원소로 추가.

In [74]:
numbers

[1, 100, 20, 3, 40, 7, 100, 2, 4, 6, [1, 3, 5]]

## element 삭제

`list.remove(value)`

list에서 처음 등장하는 value 한 개를 삭제.

In [75]:
numbers.remove(100)

In [76]:
numbers

[1, 20, 3, 40, 7, 100, 2, 4, 6, [1, 3, 5]]

`list.pop(index)`

list에서 index 위치에 있는 값을 삭제하고, 삭제한 값을 리턴. index를 전달하지 않으면, list에서 *가장 마지막 원소*를 삭제.

In [77]:
numbers.pop(0)

1

In [78]:
numbers

[20, 3, 40, 7, 100, 2, 4, 6, [1, 3, 5]]

In [79]:
numbers.pop()

[1, 3, 5]

In [80]:
numbers

[20, 3, 40, 7, 100, 2, 4, 6]

`list.clear()`

list의 모든 원소들을 삭제.

In [81]:
numbers.clear()

In [82]:
numbers  #> empty list(빈 리스트)

[]

## list의 값 수정

```
list[index] = value
```

In [83]:
numbers = [1, 3, 5, 7]
numbers

[1, 3, 5, 7]

In [85]:
numbers[1] = 100  # 인덱스 1 위치의 값(3)을 100으로 변경

In [86]:
numbers

[1, 100, 5, 7]

# list와 for 반복문

In [87]:
for x in 'hello':
    print(x)

h
e
l
l
o

In [88]:
for x in numbers:
    print(x)

1
100
5
7

리스트에서 인덱스와 그 인덱스의 원소가 모두 필요한 경우

In [89]:
len(numbers)  # 리스트 numbers의 원소의 개수를 리턴.

4

In [91]:
for i in range(len(numbers)):
    print(i, ':', numbers[i])

0 : 1
1 : 100
2 : 5
3 : 7

In [92]:
# list에서 리스트의 인덱스와 그 인덱스 위치의 값을 동시에 반복(iteration)
for index, value in enumerate(numbers):
    print(index, ':', value)

0 : 1
1 : 100
2 : 5
3 : 7

# Exercises

Python에서 난수(random number) 생성: `random` 모듈을 import하고, `random` 모듈에 있는 함수들을 사용.

In [93]:
import random  # random 모듈 임포트(사용)

In [99]:
random.random()  # 0 <= x < 1 범위의 실수(float) 난수를 리턴.

0.4559010443175673

In [121]:
random.randrange(1, 5)  # 1 <= x < 5 범위의 정수(int) 난수를 리턴.

1

In [135]:
random.randrange(5)  # 0 <= x < 5 범위의 정수 난수를 리턴.

2

In [155]:
random.randint(1, 5)  # 1 <= x <= 5 범위의 정수 난수를 리턴.

4

## Ex 1.

1. 빈 리스트를 생성.
1. 1 이상 10 이하의 정수 난수 5개를 저장.
1. 리스트에 저장된 모든 정수들의 합을 계산, 출력.
1. 리스트에 저장된 모든 정수들의 평균을 계산, 출력.

In [163]:
numbers = []
numbers

[]

In [164]:
for _ in range(5):
    numbers.append(random.randrange(1, 11))
    print(numbers)

[2]
[2, 4]
[2, 4, 3]
[2, 4, 3, 2]
[2, 4, 3, 2, 2]

In [165]:
sum(numbers)  # sum(iterable): iterable 타입 객체의 모든 원소들의 합을 리턴.

13

In [166]:
total = 0
for x in numbers:
    total += x

total

13

In [167]:
total / len(numbers)

2.6

## Ex 2.

1. 빈 리스트(numbers) 생성.
1. `[10, 100)` 범위의 난수 10개를 빈 리스트 numbers에 저장.
1. numbers에서 짝수들만 선택해서 evens 리스트에 저장.
1. numnbers에서 홀수들만 선택해서 odds 리스트에 저장.

In [171]:
numbers = []  # 빈 리스트 생성
for _ in range(10):  # 10번 반복하면서
    numbers.append(random.randrange(10, 100))  # 10 이상 100 미만의 난수를 리스트에 추가

numbers  # 리스트 내용 출력

[67, 64, 55, 13, 46, 70, 96, 59, 65, 64]

In [172]:
evens = []  # numbers의 짝수들을 저장할 리스트
for x in numbers:  # 리스트 numbers의 원소들을 반복(iteration)하면서
    if x % 2 == 0:  # numbers에서 꺼낸 원소가 짝수이면
        evens.append(x)  # 리스트 evens에 추가

evens

[64, 46, 70, 96, 64]

In [173]:
odds = []  # numbers의 홀수들을 저장할 리스트
for x in numbers:  # numbers의 원소들을 하나씩 반복하면서
    if x % 2:  # numbers에서 꺼낸 원소가 홀수이면
        odds.append(x)  # odds에 홀수를 추가

odds

[67, 55, 13, 59, 65]

## Ex 3.

1. 빈 리스트(numbers)를 생성.
1. `[-10, 10]` 범위의 난수 10개를 numbers에 저장.
1. numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 리스트 is_positives를 만들고 출력.

In [175]:
numbers = []
for _ in range(10):
    numbers.append(random.randrange(-10, 11))
print(numbers)

is_positives = []
for x in numbers:
    if x > 0:
        is_positives.append(True)
    else:
        is_positives.append(False)
print(is_positives)

[4, -4, 2, 6, 4, 8, 4, 1, -6, 2]
[True, False, True, True, True, True, True, True, False, True]

In [177]:
numbers = []
is_positives = []

for _ in range(10):  # 10번 반복하면서
    rand_num = random.randrange(-10, 11)  # [-10, 11) 범위의 난수 생성
    numbers.append(rand_num)  # 생성된 난수를 numbers에 추가
    if rand_num > 0:  # 생성된 난수가 양수이면
        is_positives.append(True)  # True를 is_positives에 추가.
    else:  # 생성된 난수가 음수이면
        is_positives.append(False)  # False를 is_positives에 추가.

print(numbers)
print(is_positives)

[-1, -7, 9, 6, -5, -9, 3, 9, 4, -8]
[False, False, True, True, False, False, True, True, True, False]

## Ex 4.

1. 빈 리스트 gender_codes를 생성.
1. gender_codes에 0 또는 1을 랜덤하게 10번 저장.
1. gender_codes의 값이 0이면 'Male', 1이면 'Female'을 저장하는 리스트 genders를 만들고 출력.

In [178]:
gender_codes = []
for _ in range(10):
    gender_codes.append(random.randrange(0, 2))
print(gender_codes)

[0, 1, 1, 1, 0, 0, 0, 0, 1, 0]

In [179]:
genders = []
for x in gender_codes:
    if x == 0:
        genders.append('Male')
    else:
        genders.append('Female')
print(genders)

['Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male']

# List Comprehension(리스트 내포)

1 ~ 10까지 정수를 차례로 저장하고 있는 리스트: `[1, 2, 3, ..., 9, 10]`

In [180]:
numbers = []
for x in range(1, 11):
    numbers.append(x)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [181]:
numbers = [x for x in range(1, 11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

1부터 10까지 정수들의 제곱을 저장하는 리스트: `[1, 4, 9, 16, ..., 64, 81, 100]`

In [182]:
squares = []
for x in range(1, 11):
    squares.append(x ** 2)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [189]:
squares2 = [x ** 2 for x in range(1, 11)]
squares2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

0 이상 10 이하의 짝수들을 저장하는 리스트: `[0, 2, 4, 6, 8, 10]`

In [192]:
evens = [x for x in range(0, 11, 2)]
print(evens)

[0, 2, 4, 6, 8, 10]

0 이상 10 이하의 홀수들을 저장하는 리스트: `[1, 3, 5, 7, 9]`

In [193]:
odds = [x for x in range(1, 10, 2)]
odds

[1, 3, 5, 7, 9]