<a href="https://colab.research.google.com/github/JakeOh/202110_itw_lab_python/blob/main/py10_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수(Function)

*   **함수(function)**: 기능을 수행하는 코드 블록.
*   **인수(argument)**: 함수를 호출할 때, 함수에게 전달하는 값(들).
*   **매개변수(parameter)**: argument를 저장하기 위해서, 함수를 정의할 때 선언하는 (지역) 변수.
*   **반환 값(return value)**: 함수가 기능 수행의 결과로 반환하는 값.
    * 반환 값이 있는 함수
    * 반환 값이 없는 함수

In [1]:
result = len([1, 2, 3, 4, 5])
# function: len
# argument: [1, 2, 3, 4, 5]
# 함수 호출(call, invoke): len([1, 2, 3, 4, 5])
# return value: 5

In [2]:
result

5

# 함수 정의(선언) 방법

```
def function_name([param1, ...]):
    ["""문서화 주석(documentaion comment): 함수에 대한 설명"""]
    함수 기능 작성(코드)
    [return 반환 값]
```

In [3]:
def subtract(x, y):
    """숫자 2개(x, y)를 전달받아서, x - y를 반환하는 함수.
    """
    return x - y

In [4]:
result = subtract(1, 2)
result

-1

파이썬은 2개 이상의 값을 반환하는 함수를 정의할 수 있음.

In [5]:
def plus_and_minus(x, y):
    """2개의 숫자 x, y를 전달받아서, x+y와 x-y를 반환하는 함수.
    """
    return x + y, x - y

In [6]:
result = plus_and_minus(1, 2)
result  #> tuple

(3, -1)

In [7]:
# tuple decomposition(분해): x, y = (3, -1)
plus, minus = plus_and_minus(1, 2)
print(plus)
print(minus)

3
-1

값을 반환하지 않는 함수

In [8]:
def repeat_messages(message, n):
    """문자열 message와 양의 정수 n을 전달받아서,
    전달받은 문자열을 n번 반복해서 출력하는 함수.
    """
    for _ in range(n):
        print(message)

    # return None  # 반환 값이 없다는 것을 명시적으로 작성.
    # 반환 값이 없는 경우 return None 문장을 보통 생략함.

In [9]:
result = repeat_messages('안녕하세요', 3)

안녕하세요
안녕하세요
안녕하세요

In [10]:
print(result)  #> None: 값이 없음.

None

# 함수 정의/호출 연습

In [11]:
import random  # 난수 관련 함수들을 사용하기 위해서
import math  # 수학 함수들을 사용하기 위해서

## Ex 1.

* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환.

In [17]:
def make_list(start, end, n):
    # array = []  # 빈 리스트
    # for _ in range(n):  # n번 반복하면서
    #     array.append(random.randrange(start, end))  # 난수를 생성해서 리스트에 추가
    # return array # 리스트를 리턴.

    return [random.randrange(start, end) for _ in range(n)]

In [21]:
num_list = make_list(-10, 10, 5)
num_list

[3, -3, -4, -3, -6]

## Ex 2.

* 함수 이름: calc_sum
* 기능: 숫자들을 저장하고 있는 리스트의 모든 원소들의 합을 반환.

In [23]:
def calc_sum(numbers):
    # return sum(numbers)
    total = 0
    for x in numbers:
        total += x
    return total

In [24]:
total = calc_sum(num_list)
total

-13

## Ex 3.

* 함수 이름: calc_mean
* 기능: 숫자들을 저장하고 있는 리스트의 모든 원소들의 평균을 반환.

In [25]:
def calc_mean(numbers):
    return calc_sum(numbers) / len(numbers)

In [26]:
mean = calc_mean(num_list)
mean

-2.6

## Ex 4.

* 함수 이름: calc_variance
* 기능: 숫자들을 저장하고 있는 리스트의 원소들의 분산을 반환.

In [27]:
def calc_variance(numbers):
    mean = calc_mean(numbers)  # 평균
    squares = [(x - mean) ** 2 for x in numbers]
    var = calc_sum(squares) / (len(numbers) - 1)
    return var

In [28]:
var = calc_variance(num_list)
var

11.299999999999997

## Ex 5.

* 함수 이름: calc_stddev
* 기능: 숫자들을 저장하고 있는 리스트의 원소들의 표준편차를 반환.

In [29]:
def calc_stddev(numbers):
    return math.sqrt(calc_variance(numbers))

In [30]:
stddev = calc_stddev(num_list)
stddev

3.3615472627943217

## Ex 6.

* 함수 이름: find_max_and_min
* 기능: 숫자들을 저장하고 있는 리스트에서 최댓값과 최솟값을 반환.

In [34]:
def find_max_and_min(numbers):
    # return max(numbers), min(numbers)
    
    max_numbers = numbers[0]
    min_numbers = numbers[0]
    for x in numbers:
        if x > max_numbers:
            max_numbers = x
        if x < min_numbers:
            min_numbers = x
    return max_numbers, min_numbers

In [32]:
num_list

[3, -3, -4, -3, -6]

In [35]:
find_max_and_min(num_list)

(3, -6)