<a href="https://colab.research.google.com/github/JakeOh/202110_itw_lab_python/blob/main/py11_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

함수는 객체이다.
* 함수는 변수에 할당할 수 있음.
* 함수는 argument로 다른 함수에 전달할 수 있음.
* 함수의 반환 값이 함수가 될 수 있음. 함수는 함수를 반환할 수 있음.
* 함수 내부에서 다른 함수를 정의할 수 있음.

In [1]:
x = 1  # 객체는 변수에 할당(저장)할 수 있음.
print(x)  # 객체는 함수의 argument로 전달할 수 있음.

1

In [2]:
# 함수 정의
def twice(x):
    return 2 * x

In [3]:
print(twice)  #> twice는 함수 객체(function object)

<function twice at 0x7fbf45e7e200>

In [6]:
result = twice(5)  # 함수 호출 결과(리턴 값)을 변수 result에 저장.
result

10

In [8]:
double = twice  # 함수는 변수에 할당할 수 있음.
print(double)

<function twice at 0x7fbf45e7e200>

In [9]:
double(5)  # double 함수 호출 결과는 twice 함수 호출 결과와 동일.

10

argument로 함수를 전달받는 함수

In [10]:
def calculator(x, y, fn):
    """
    x, y: 숫자(int, float)
    fn: 숫자 2개를 argument로 전달받고, 숫자를 리턴하는 함수
    """
    result = fn(x, y)
    return result

In [11]:
def plus(x, y):
    return x + y

In [12]:
calculator(1, 2, plus)

3

In [13]:
def minus(x, y):
    return x - y

In [14]:
calculator(1, 2, minus)

-1

함수 내부에서 함수를 정의(선언)하고, 함수를 리턴.

In [15]:
def make_increment(n):
    # 내부 함수(inner function), 지역 함수(local function): 함수 내부에서 정의하는 함수
    def add_n(x):
        return x + n

    # make_increment 함수는 add_n 함수 (객체)를 리턴.
    return add_n

In [18]:
increase_by_2 = make_increment(2)
print(increase_by_2)

<function make_increment.<locals>.add_n at 0x7fbf45e7dc20>

In [19]:
increase_by_2(10)

12

In [20]:
increase_by_10 = make_increment(10)
print(increase_by_10)

<function make_increment.<locals>.add_n at 0x7fbf45dd8c20>

In [21]:
increase_by_10(10)

20