<a href="https://colab.research.google.com/github/JakeOh/202110_itw_lab_python/blob/main/py11_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

함수는 객체이다.
* 함수는 변수에 할당할 수 있음.
* 함수는 argument로 다른 함수에 전달할 수 있음.
* 함수의 반환 값이 함수가 될 수 있음. 함수는 함수를 반환할 수 있음.
* 함수 내부에서 다른 함수를 정의할 수 있음.

In [1]:
x = 1  # 객체는 변수에 할당(저장)할 수 있음.
print(x)  # 객체는 함수의 argument로 전달할 수 있음.

1

In [2]:
# 함수 정의
def twice(x):
    return 2 * x

In [3]:
print(twice)  #> twice는 함수 객체(function object)

<function twice at 0x7fbf45e7e200>

In [6]:
result = twice(5)  # 함수 호출 결과(리턴 값)을 변수 result에 저장.
result

10

In [8]:
double = twice  # 함수는 변수에 할당할 수 있음.
print(double)

<function twice at 0x7fbf45e7e200>

In [9]:
double(5)  # double 함수 호출 결과는 twice 함수 호출 결과와 동일.

10

argument로 함수를 전달받는 함수

In [10]:
def calculator(x, y, fn):
    """
    x, y: 숫자(int, float)
    fn: 숫자 2개를 argument로 전달받고, 숫자를 리턴하는 함수
    """
    result = fn(x, y)
    return result

In [11]:
def plus(x, y):
    return x + y

In [12]:
calculator(1, 2, plus)

3

In [13]:
def minus(x, y):
    return x - y

In [14]:
calculator(1, 2, minus)

-1

함수 내부에서 함수를 정의(선언)하고, 함수를 리턴.

In [15]:
def make_increment(n):
    # 내부 함수(inner function), 지역 함수(local function): 함수 내부에서 정의하는 함수
    def add_n(x):
        return x + n

    # make_increment 함수는 add_n 함수 (객체)를 리턴.
    return add_n

In [18]:
increase_by_2 = make_increment(2)
print(increase_by_2)

<function make_increment.<locals>.add_n at 0x7fbf45e7dc20>

In [19]:
increase_by_2(10)

12

In [20]:
increase_by_10 = make_increment(10)
print(increase_by_10)

<function make_increment.<locals>.add_n at 0x7fbf45dd8c20>

In [21]:
increase_by_10(10)

20

# 람다 표현식(Lambda expression)

```
lambda param1, param2, ...: expression(리턴 값) 
```

* 이름이 없는 함수(anonymous function).
* 함수 이름 없이, 함수의 파라미터 선언과 반환 값 또는 반환 식으로 함수를 정의하는 방법.

In [23]:
plus_one = lambda x: x + 1  # x를 argument로 전달받아서 x+1을 리턴하는 함수

In [24]:
plus_one(1)  # 함수 호출

2

In [25]:
plus = lambda x, y: x + y  # argument x, y를 전달받아서 x+y를 리턴하는 함수

In [26]:
plus(1, 2)

3

lambda 표현식은 함수의 argument로 전달하기 위해서 사용.

In [27]:
calculator(1, 2, lambda x, y: x - y)

-1

In [28]:
calculator(2, 3, lambda x, y: x * y)

6

In [29]:
# calculator 함수에 x가 y보다 큰 지(True) 아닌 지(False)를 리턴하는 lambda를 전달.
calculator(1, 2, lambda x, y: x > y)

False

In [30]:
calculator(2, 1, lambda x, y: x > y)

True

In [31]:
# calculator 함수에 x, y 중에서 더 큰 수를 리턴하는 lambda를 전달.
calculator(1, 2, lambda x, y: max(x, y))

2

In [32]:
# if-else 표현식: 값1 if 조건 else 값2
calculator(1, 2, lambda x, y: x if x > y else y)

2

## lambda 표현식 응용

* filtering
    * 성별 컬럼에서 값이 'Male' 또는 'Female'인 데이터들만 선택.
* mapping
    * 성별 컬럼의 값이 'Male'이면 1, 'Female'이면 0으로 매핑.

In [33]:
numbers = [1, -2, 3, -4, -5, 6, 7, 8]

In [34]:
# numbers의 원소들 중에서 양수들만 선택한 리스트.
# filter(True/False를 리턴하는 함수, 리스트)
result = filter(lambda x: x > 0, numbers)
result  # 필터링이 끝난 객체

In [35]:
list(result)  # 필터링이 끝난 객체를 list 타입으로 변환

[1, 3, 6, 7, 8]

In [38]:
# numbers에서 음수들만 선택한 리스트.
result = filter(lambda x: x < 0, numbers)
list(result)  # 필터링이 끝난 객체를 list 타입으로 변환

[-2, -4, -5]

In [39]:
# numbers에서 홀수들만 필터링.
result = filter(lambda x: x % 2 == 1, numbers)
list(result)

[1, 3, -5, 7]

In [42]:
# numbers에서 짝수는 'even', 홀수는 'odd'로 매핑.
result = map(lambda x: 'even' if x % 2 == 0 else 'odd', numbers)
print(result)  # 매핑이 끝난 객체
list(result)  # 매핑이 끝난 객체를 list 타입으로 변환

<map object at 0x7fbf3dca6fd0>

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [43]:
genders = ['Male', 'Female', 'Female', 'Male']

In [44]:
# genders에서 'Female'만 선택(filter)
result = filter(lambda x: x == 'Female', genders)
list(result)

['Female', 'Female']

In [45]:
# genders의 원소가 'Male'이면 1, 'Female'이면 0을 매핑
result = map(lambda x: 0 if x == 'Female' else 1, genders)
list(result)

[1, 0, 0, 1]

filter 함수를 직접 구현

In [49]:
def my_filter(iterable, fn):
    """리스트 iterable의 원소를 함수 fn의 argument로 전달했을 때, 
    fn이 True를 리턴하는 원소들로 이루어진 리스트를 리턴.

    iterable: 리스트.
    fn: argument가 1개이고 리턴 타입은 bool인 함수.
    """
    # result = []  # 조건을 만족하는 원소들(필터링한 원소들)을 저장할 빈 리스트
    # for x in iterable:  # 리스트의 원소들을 차례로 반복하면서
    #     if fn(x):  # 조건을 만족하면
    #         result.append(x)  # 결과 리스트에 추가
    # return result

    return [x for x in iterable if fn(x)]

In [47]:
numbers

[1, -2, 3, -4, -5, 6, 7, 8]

In [50]:
# numbers에서 양수들만 필터링.
my_filter(numbers, lambda x: x > 0)

[1, 3, 6, 7, 8]

In [51]:
languages = ['Java', 'HTML', 'CSS', 'JavaScript', 'Python']

# my_filter 함수를 사용해서 글자수가 5글자 이상인 원소들만 필터링
my_filter(languages, lambda x: len(x) >= 5)

['JavaScript', 'Python']

In [ ]:
def my_mapper(iterable, fn):
    """iterable의 원소를 차례로 함수 fn의 argument로 전달해서, 함수 fn의 리턴값들로 이루어진 리스트를 리턴.

    iterable: 리스트.
    fn: argument가 1개이고 값을 반환하는 함수.
    """

In [ ]:
def my_mapper2(iterable, fn):
    """iterable의 원소를 key로 하고, 
    iterable의 원소를 함수 fn의 argument로 사용했을 때의 리턴 값을 value로 하는 dict를 리턴.

    iterable: 리스트.
    fn: argument가 1개이고 값을 반환하는 함수.
    """